<html>
    <head>
        <title>FITHUB</title>
    </head>
    <body>
        <h1> FITHUB</h1>
        <hr>
        <h3>Opciones</h3>
        <ul>
            <li><a href=/usuarios>Usuarios</a></li> <p>
            <li><a href=/membresias>Membresias</a></li> <p>
            <li><a href=/pagos> Pagos</a></li> <p>
        </ul>
    </body>
</html>