<html>
    <head>
        <title>FITHUB</title>
    </head>
    <body>
        <h1>Nuevo Membresia</h1>        
        <hr>
        <form action="/m_membresias_grabar_nuevo" method="POST">
            <table>
                <tr>
                    <td>Nombre:</td>
                    <td><input type="text" name="xnom" id="xnom" size="30"></td>
                </tr>
                <tr>
                    <td>Precio:</td>
                    <td><input type="text" name="xpr" id="xpr" size="30"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Grabar"></td>
                </tr>
            </table>
        </form>
    </body>
</html>