<html>
    <head><title>Sistema de control de Ingreso</title></head>
    <body>
        <h1>Membresias</h1>
        <hr>
        <ul>
            <li><a href=/m_membresias_listado>Lista de membresias</a></li><p>
        </ul>
    </body>
    </html>