<html>
    <head><title>Sistema de control de Ingreso</title></head>
    <body>
        <h1>Mantenimientos</h1>
        <hr>
        <ul>
            <li><a href=/m_pagos_listado>Listas de pagos</a></li><p>
        </ul>
    </body>
    </html>