<html>
    <head><title>FITHUB</title></head>
    <body>
        <h1>Usuarios</h1>
        <hr>
        <ul>
            <li><a href=/m_usuarios_listado>Lista de usuarios</a></li><p>
        </ul>
    </body>
    </html>